.home {
  figure {
    padding: 1%;
    margin: 0 auto 2rem;
  }
  h2 {
    background: linear-gradient(180deg, rgba(0,0,40,.5) 0%, rgba(0,0,0,0) 80%);
    font-size: 2.25rem;
    padding: 1rem 0;
  }
  .first {
    color: lighten($body-color, 30%);
  }
  .second {
    color: lighten($body-color, 15%);
  }
}
