# __*
# -__-/

# no longer used... but
config.rb
config_debug.rb
.sass-cache/
_dev/
_tmp/

# sublimetext info
sftp-config.json
# *.sublime-project
*.sublime-workspace

# the sissyfuss situation...
*/o__o/*/x__x/
*/o__o/*/*/x__x/
google*.html
google*.blade.php

# jigsaw
/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log

# jigsaw
# Optional ignores
/build_staging/
/build_production/
# /source/assets/build/css/
# /source/assets/build/fonts/
# /source/assets/build/js/
/source/assets/
/source/\*__\*/
/source/0__0/
mix-manifest.json
