.body--boxbots {
	img {
	    max-width: 100%;
	    height: auto
	}
	#popup {
		display: none;
		position: absolute;
		top: -100px; left: -200px;
		padding: 0;
		pointer-events: none;
		background: transparent;
		// background: rgba(255, 40, 40, .5);
		color: #fff;
		max-width: 50%;
		line-height: 0;
		&.show {
			display: block;
		}
		img {
			max-height: 205px;
			width: auto;
		}
		.color {
			position: relative;
			top: 0;
			left: 0;
			opacity: 1;
		}
		.shadow {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
		}
	}
	main {
		margin: 0;
	}
	.header_info,
	.prj_info {
		padding: 1rem;
	}
	.header_info {
		background: #aeb2aa;
		h1 {
			// display: none;
		}
	}
	.prj_info {
		background: #999682;
	}

	.nav--boxbot,
	.nav--boxbots {
		margin-bottom: .25rem;

		a,
		button {
		// 	display: block;
			width: 33%;
		// 	height: 1.875rem;
		// 	padding: .375rem .375rem;
		// 	overflow: hidden;
		// 	white-space: nowrap;
		// 	text-overflow: ellipsis;
		// 	background: #000;
		// 	color: #fff;
		// 	font-size: .875rem;
		// 	&:hover {
		// 		background: #fff;
		// 		color: #000;
		// 	}
		}
		// #btn--toggle {
		// 	margin-left: 33.5%;
		// 	border: 0;
		// }
	}
	// .nav--boxbots {
	// 	#btn--height,
	// 	#btn--width,
	// 	#btn--date,
	// 	#btn--title {
	// 		display: inine-block;
	// 		// float: right;
	// 		width: initial;
	// 		border: 0;
	// 	}
	// 	#btn--width,
	// 	#btn--date,
	// 	#btn--title {
	// 		margin-right: .5%;
	// 	}
	// }
	.nav--boxbot {
		&--next {
			float: left;
		}
		&--all {
			float: left;
			margin-left: .5%
		}
		&--prev {
			float: right;
		}
	}

	.sort--hide {
		display: none;
	}

	.images--boxbot,
	.images--boxbots {
		text-align: center;
		line-height: 1;
		background: #aeb2aa; // Old browsers
		background: -moz-linear-gradient(top,  #aeb2aa 0%, #b6b9ba 54%, #c3c3c3 85%, #999682 100%); // FF3.6+
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeb2aa), color-stop(54%,#b6b9ba), color-stop(85%,#c3c3c3), color-stop(100%,#999682)); // Chrome,Safari4+
		background: -webkit-linear-gradient(top,  #aeb2aa 0%,#b6b9ba 54%, #c3c3c3 85%,#999682 100%); // Chrome10+,Safari5.1+
		background: -o-linear-gradient(top,  #aeb2aa 0%,#b6b9ba 54%, #c3c3c3 85%,#999682 100%); // Opera 11.10+
		background: -ms-linear-gradient(top,  #aeb2aa 0%,#b6b9ba 54%, #c3c3c3 85%,#999682 100%); // IE10+
		background: linear-gradient(to bottom,  #aeb2aa 0%,#b6b9ba 54%, #c3c3c3 85%,#999682 100%); // W3C
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb2aa', endColorstr='#999682',GradientType=0 ); // IE6-9
	}
	&.images--shadows {
		.header_info {
			background: #7071A9;
		}
		.prj_info {
			background: #478070;
		}
		.images--boxbot,
		.images--boxbots {
			background: #7071A9; // Old browsers
			background: -moz-linear-gradient(top,  #7071A9 0%, #74748B 72%, #478070 100%); // FF3.6+
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7071A9), color-stop(72%,#74748B), color-stop(100%,#478070)); // Chrome,Safari4+
			background: -webkit-linear-gradient(top,  #7071A9 0%,#74748B 72%,#478070 100%); // Chrome10+,Safari5.1+
			background: -o-linear-gradient(top,  #7071A9 0%,#74748B 72%,#478070 100%); // Opera 11.10+
			background: -ms-linear-gradient(top,  #7071A9 0%,#74748B 72%,#478070 100%); // IE10+
			background: linear-gradient(to bottom,  #7071A9 0%,#74748B 72%,#478070 100%); // W3C
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7071A9', endColorstr='#478070',GradientType=0 ); // IE6-9
		}
	}

	.sort--asc::after,
	.sort--desc::after {
		font-size: .625rem;
		top: -.125rem;
		position: relative;
		color: #666;
	}
	.sort--asc::after {
		content: ' ▲';
	}
	.sort--desc::after {
		content: ' ▼';
	}

	.images--boxbot,
	.images--boxbots {
		figure {
			display: inline-block;
			margin: .5rem 0;
			vertical-align: bottom;

			a,
			.bot_hover {
				display: block;
				position: relative;
				&:hover {
					.color {
						@keyframes blink {
							50% {
								opacity: 0.0;
							}
						}
						@-webkit-keyframes blink {
							50% {
								opacity: 0.0;
							}
						}
						animation: blink 1.5s linear 0s infinite;
						-webkit-animation: blink 1.5s linear 0s infinite;
					}
					.shadow {
						opacity: 1;
					}
				}
			}
			img {
				// margin: .1875rem;
				transition: opacity .8s ease-out;
			}
			.shadow {
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
			}
			.color {
				position: relative;
				left: 0;
				opacity: 1;
			}
		}
	}
	&.images--shadows {
		.images--boxbot,
		.images--boxbots {
			figure {
				a,
				.bot_hover {
					&:hover {
						.shadow {
							@keyframes blink2 {
								50% {
									opacity: 0.0;
								}
							}
							@-webkit-keyframes blink2 {
								50% {
									opacity: 0.0;
								}
							}
							animation: blink2 1.5s linear 0s infinite;
							-webkit-animation: blink2 1.5s linear 0s infinite;
						}
						.color {
							opacity: 1;
							animation: none;
							-webkit-animation: none;
						}
					}
				}
				.shadow {
					opacity: 1;
					z-index: 10;
				}
				.color {
					opacity: 0;
					z-index: 9;
				}
			}
		}
	}
	// .bot--large {
	// 	display: none;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background: rgba(35,45,55,0.85);

	// 	&.is_visible {
	// 		display: block;
	// 	}

	// 	img {
	// 	  width: 100vw;
	// 	  height: 100vh;
	// 	  object-fit: scale-down;
	// 	}
	// }


	// &.images--both {
	// 	background: rgba(255,255,76,.2);
	// }


	.images--boxbot {
		// height: 92vh;
		position: absolute;
		top: 1.5rem;
		left: 0;
		right: 0;
		bottom: 0;
		.shadow,
		.color {
			// width: 98vw;
			// width: calc(100% - 100px);
			height: calc(100vh - 120px);
			object-fit: scale-down;
		}
				.shadow {
					// opacity: 1 !important;
				}
				.color {
					// opacity: 1;
				}
	}
	&.images--both {
	.images--boxbot {
		figure {
			// width: 100%;
			.shadow {
				width: 48vw;
				opacity: 1;
				object-position: 100% 50%;
			}
			.color {
				width: 48vw;
				opacity: 1;
				object-position: 0% 50%;
				left: 50%;
			}
		}
	}
}
}
