body {
    background: linear-gradient(135deg, #dbd0b7 0%, #b0d4d1 100%) fixed;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.125
}
figure {
    display: inline-block
}
figcaption {
    font-size: .75rem;
    margin-top: .25rem
}
body:not(.body--boxbots) img {
    max-width: 100%;
    height: auto
}
a {
	@keyframes blink {
	    50% {
	        opacity: 0.0
	    }
	}
	@-webkit-keyframes blink {
	    50% {
	        opacity: 0.0
	    }
	}
	// &:hover {
	//     animation: blink 1.5s linear 0s infinite;
	//     -webkit-animation: blink 1.5s linear 0s infinite
	// }
}

.jk {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    font-weight: bold
}
.subtitle {
    color: #fff
}

#groundhog {
    display: block;
    position: fixed;
    top: 85px;
    left: 27px;
    z-index: 9999;
    box-shadow: 0 0 30px 5px #c71123;
    transition: top 10s, left 10s, box-shadow 2s;

    .body--home & {
        top: 16px;
        left: 16px;
    }
    a {
        display: block;
        background-color: transparent;
        color: #fff;
        padding: 1rem 1.25rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-decoration: none;
        // text-shadow: 0 0 10px #c71123;

        &:hover {
            background-color: #fff;
            color: #000;
            // text-shadow: none;
        }
    }
}

//
//
// old global
//
//

main {
	margin: 1rem;
}


.no_break {
	white-space: nowrap;
}

.table--series_info,
.table--prj_info {
	min-width: 100%;
	margin: 1rem 0;
	font-size: .75rem;

	td {
		background: #fff;
		padding: .33rem .5rem;
		border: 1px solid #ddd;
		text-align: left;
		vertical-align: top;
	}

	thead,
	tfoot {
		td {
			font-weight: bold;
		}
	}

	ul {
		padding-left: 1rem;
	}
	.td--prj_id {
		font-family: Geneva, monospace;
        font-size: .675rem;
	}
	.td--empty {
		background: transparent;
	}
}
.table--series_info {
    margin-top: 0;
    font-size: .875rem;
}

.list--dupe_ids {
	font-family: geneva, monospace;
	font-weight: bold;
	color: #f00;
}
.list--check_ids {
	font-family: geneva, monospace;
}

.cneterd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
}

