.body--home {
  figure {
    margin: 1rem auto 2rem;
  }
  h2 {
    font-size: 2.25rem;
    padding: 1rem .33rem;
  }
  h3 {
    padding-left: .5rem;
  }
}
.beckett {
  text-align: center;
}

.mean_year {
    position: relative;
}
.the_end {
    display: block;
    position: absolute;
    top: 32%;
    left: 7%;
    width: 86%;
    pointer-events: none;
}

// .home .first {
//     color: #65727e
// }
// .home .second {
//     color: #434b53
// }
