.body--sd_to_hd {

  figure {
    vertical-align: top;
    max-width: 480px;
    &.vid--star_trek-commerical {
      max-width: 270px;
    }
  }

  .wrap--video {
    background-color: #fcc;
    line-height: 0;

    iframe {
      background-color: #eee;
    }
  }

}
