/* FROM THE TWITTER BOOTSTRAP */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.tooltip {
/*
  position: absolute;
  z-index: 1030;
*/
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
/*
  filter: alpha(opacity=0);
  opacity: 0;
*/
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/* END BOOTSTRAPS */

body {
  background-color: #eee;
}
.wrap-it-up {
  padding: 50px /* 20px */ 1%;
}
a {
  text-decoration: underline;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #000;
}
cite {
  font-style: italic;
}

header {
  margin: 0 0 2em;
  text-align: center;
}
.site-title {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}
.site-subtitle {
  margin: .5em;
  font-size: 26px;
  font-weight: normal;
}
.site-subtitle a {
  position: relative;
}

footer {
  margin: 2em 0 0;
  text-align: center;
}
footer h3 {
  font-size: 22px
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  margin: .5em auto;
}


.embed-wrap {
  width: 300px;
  float: left;
  margin: 1.5%;
}
.embed-wrap:nth-child(3n) {
  float: right;
}
.embed-twitter {    width: 33%; min-width: 250px; max-width: 400px; }
.embed-facebook {   width: 350px; }
.embed-googleplus { width: 450px; }
.embed-instagram {  width: 33%; min-width: 240px; max-width: 400px; }
.embed-instagram .fluid-width-video-wrapper { padding-bottom: 100px; } /* adds fixed-height chrome to fitvid */
.embed-pinterest {  width: 237px; }
.embed-vine {       width: 300px; }
.embed-square {     width: 300px; }
.embed-getty {      width: 400px; }
.embed-youtube {    width: 33%; max-width: 400px; }
.embed-tweet {      width: 110px; }
.embed-like {       width: 50px; }
.embed-plus {       width: 55px; }

.project-link {
  font-size: 14px;
  font-weight: bold;
}
.embed-facebook .project-link {   margin-top: .6em; }
.embed-googleplus .project-link { margin-top: .1em; }
.embed-instagram .project-link {  margin-top: .3em; }
.embed-pinterest .project-link {  margin-top: .6em; }
.embed-getty .project-link {      margin-top: .3em; }
.embed-youtube .project-link {    margin-top: .6em; }

.blocker {
 float: left;
 width: 150px;
}
.filler {
  
}
@media only screen and (max-width: 600px) {
  .wrap-it-up {
    padding: 40px /* 8px */ 1%;
  }
  .site-title {
    font-size: 21px;
  }
  .site-subtitle {
    font-size: 18px;
    margin-bottom: 0;
  }
  .embed-wrap,
  .embed-wrap:nth-child(3n) {
    float: none;
    clear: both;
    margin: 0 auto 2em;
  }
  .embed-twitter {   width: 100%; }
  .embed-instagram { width: 100%; }
  .embed-youtube {   width: 100%; }
  .blocker,
  .filler {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .embed-googleplus {
    width: 100%;
    overflow: auto;
  }
}
@media only screen and (max-width: 420px) {
  .embed-getty {
    width: 100%;
    overflow: auto;
  }
}
@media only screen and (max-width: 370px) {
  .embed-facebook {
    width: 100%;
    overflow: auto;
  }
}

article {
  max-width: 1200px;
  margin: 0 auto;
}
article section {
  background-color: #fff;
  padding: 10px;
}
article .left_section {
  float: left;
  width: 49%;
}
article .right_section {
  float: right;
  width: 49%;
}
article .calendar {
  position: relative;
  padding-bottom: 90%;
  height: 0;
}
article .calendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Sunday Routine Interview -------------------------------------------- */
#sunday_routine {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  line-height: 1.3em;
}
#sunday_routine h2 {
  text-transform: none;
  font-weight: bold;
  color: #000;
  margin-bottom: 1.5em;
  font-size: 18px;
}
#sunday_routine p {
  margin-top: .2em;
  margin-bottom: 1.5em;
}
#sunday_routine h3 {
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3em;
  color: #000;
}
#sunday_routine img+h3,
#sunday_routine p+h3 {
  margin-top: 2em;
}
#sunday_routine .journal {
  color: #000;
}
#sunday_routine .journal .date { color: #6a2bb7; }
#sunday_routine .journal p {
  margin-top: .2em;
  margin-bottom: .2em;
}
#sunday_routine p+.journal {
  margin-top: -.6em;
}
#sunday_routine .time { color: #ac71f6; }
#sunday_routine .caption { color: #aaaaaa; font-size: 13px; }
#sunday_routine .caption-plus { color: #555; font-size: 13px; }
#sunday_routine .notes1 { font-family: 'Hiragino Kaku Gothic ProN'; font-size: 14.0px; color: #942193; }
#sunday_routine .notes2 { font-family: 'Hiragino Kaku Gothic ProN'; font-size: 14.0px; color: #f93ee6; }
#sunday_routine .milton { font-family: 'American Typewriter', Courier; font-size: 17.0px; color: #000; }
#sunday_routine .heart { color: #ff3674; }
#sunday_routine .money { color: #009f49; }
#sunday_routine .resets { color: #fa9700; }
#sunday_routine .brownsville { color: #a77b4a; }
#sunday_routine .selfdoubt { color: #aaaaaa; font-style: italic; }
#sunday_routine .sad { color: #5f9edd; font-weight: bold; }
#sunday_routine .note { color: #ac71f6; }
#sunday_routine .footnote { color: #2dd975; font-size: 14px; }
#sunday_routine .always { color: #f3296a; }
#sunday_routine .keurig1 { color: #85a137; }
#sunday_routine .keurig2 { color: #cd9b0d; }
#sunday_routine .senses { color: #0096ff; }
#sunday_routine .crema { color: #945200; }
#sunday_routine .nascar1 { color: #fad75c; }
#sunday_routine .nascar2 { color: #e73444; }
#sunday_routine .nascar3 { color: #b42592; }
#sunday_routine .nascar4 { color: #2c76c1; }
#sunday_routine .nfl { color: #c71c28; }
/* end sunday routine */


.nytoak {
  position: absolute;
  top: 0; left: 50%;
  margin-left: -25%;
  width: 50%;
  text-align: center;
  background-color: #3cac80;
  box-shadow: 0px 0px 40px #444;
  padding: 5px;
}
.nytoak a {
  color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}