.daily_photo {
  padding: 1rem 0;

  $borders: #fff;

  hr {
    width: 66.667%;
    height: .333rem;
    background: $borders;
    border: 0;
    margin: 1rem auto 1.5rem;
  }
  figure {
    height: auto;
    width: 50%;
    padding: 0;
    vertical-align: top;
  }
  figcaption {
    font-size: .6875rem;
    margin: .125rem 0 .25rem 0;
    line-height: .6875rem;
  }
  h3 {
    margin-bottom: 2rem;
  }

  .average_jk {
    margin: 1rem 0;
    border-top: 1rem solid $borders;
    padding: 2rem 0;
    figure {
      @media screen and (min-width: 300px) and (max-width: 449px) {
        width: 33.333%;
      }
      @media screen and (min-width: 450px) and (max-width: 624px) {
        width: 25%;
      }
      @media screen and (min-width: 625px) {
        width: 20%;
      }
      @media screen and (min-width: 800px) {
        width: 16.666%;
      }
      @media screen and (min-width: 1000px) {
        width: 14.285%;
      }
      @media screen and (min-width: 1200px) {
        width: 12.5%;
      }
      @media screen and (min-width: 1500px) {
        width: 11.111%;
      }
    }
  }
    
  .average_year {
    figure {
      @media screen and (max-width: 299px) {
        &:nth-of-type(-n+8) { /* first 8 elements */
          padding-bottom: .875rem;
        }
      }
      @media screen and (min-width: 300px) and (max-width: 449px) {
        &:nth-of-type(-n+6) { /* first 86 elements */
          padding-bottom: .875rem;
        }
      }
      @media screen and (min-width: 450px) and (max-width: 624px) {
        &:nth-of-type(-n+8) { /* first 8 elements */
          padding-bottom: .75rem;
        }
      }
      @media screen and (min-width: 625px) {
        &:nth-of-type(-n+5) { /* first 5 elements */
          padding-bottom: .75rem;
        }
      }
      @media screen and (min-width: 800px) {
        &:nth-of-type(-n+6) { /* first 6 elements */
          padding-bottom: .75rem;
        }
      }
      @media screen and (min-width: 1000px) {
        &:nth-of-type(-n+7) { /* first 7 elements */
          padding-bottom: .75rem;
        }
      }
      @media screen and (min-width: 1200px) {
        &:nth-of-type(-n+8) { /* first 8 elements */
          padding-bottom: .875rem;
        }
      }
      @media screen and (min-width: 1500px) {
        &:nth-of-type(-n+9) { /* first 8 elements */
          padding-bottom: 0;
        }
      }
    }
  }
  .fourthree {
    padding-top: 8%;
  }
  .placeholder {
    opacity: .2;
  }
}
