//
// Series Page
//
.body--dirty_mousepads {
	background: #f3f3f3;

	//
	// Tables info
	//
	.td--prj_title {
		white-space: nowrap;
	}
	.td--series_subtitle,
	.td--series_slug,
	.td--prj_slug,
	.td--prj_by,
	.td--prj_subtitle,
	.td--prj_duration,
	.td--prj_description,
	.td--prj_rating {
		display: none;
	}
	.table--series_info {
		@media only screen and (max-width: 680px) {
			@include table--mobile;
			.td--prj_slug,
			.td--prj_by,
			.td--prj_subtitle,
			.td--prj_duration,
			.td--prj_description,
			.td--prj_rating {
				display: none;
			}
		}
	}
	.table--prj_info {
		@media only screen and (max-width: 720px) {
			@include table--mobile;
			.td--prj_slug,
			.td--prj_by,
			.td--prj_subtitle,
			.td--prj_duration,
			.td--prj_description,
			.td--prj_rating {
				display: none;
			}
		}
	}
}

//
// Single Image Viewer
//
.body--single--dirty_mousepads {
	background: #f3f3f3;
}
