body {
	background-color: #eee;
	line-height: 1.375;
	color: $color-text-base;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.125;
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 1rem;
}
ul {
	list-style-type: circle;
	padding-left: 1.25rem;
}
li {
	+ li {
		margin-top: .675rem;
	}
}
figure {
	display: inline-block;
}
figcaption {
	font-size: .75rem;
	margin-top: .25rem;
}
body:not(.body--boxbots) img {
	max-width: 100%;
	height: auto;
}
a {
	color: #c71123;
	&:hover {
		color: #000000;
	}
}
button {
	cursor: pointer;
}


.page_content {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.page_column {
	// background: #fff;
	// padding: .675rem;
	@media screen and (min-width: 1200px) {
		width: calc(50% - .25rem);
		+ .page_column {
			margin-left: .5rem;
		}
	}
}


.hog {
	display: block;
	position: fixed;
	z-index: 2000;
	box-shadow: 0 0 30px 5px #d1ffed;
	transition: top 10s, right 10s, left 10s, box-shadow 3.75s;
	transition-timing-function: ease-in-out;
	@media screen and (min-width: 860px) {
		transition: top 20s, right 20s, left 20s, box-shadow 3.75s;
		transition-timing-function: ease-in-out;
	}

	a {
		display: block;
		background-color: transparent;
		color: #fff;
		font-size: 1rem;
		line-height: 1rem;
		padding: .75rem 1rem;
		text-decoration: none;
		// text-shadow: 0 0 10px #c71123;
		@media screen and (max-width: 400px) {
			font-size: .75rem;
			line-height: .75rem;
			padding: .5rem .75rem;
		}

		&:hover {
			background-color: #fff;
			color: #000;
			// text-shadow: none;
		}
	}
}
#groundhog {
	top: 18px;
	left: 18px;
	z-index: 1999;
	box-shadow: 0 0 30px 5px #c71123;
	transition: top 11s, left 11s, box-shadow 2.5s;
	transition-timing-function: ease-in-out;
	@media screen and (min-width: 860px) {
		transition: top 21s, right 21s, left 21s, box-shadow 2.5s;
		transition-timing-function: ease-in-out;
	}

	a {
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding: 1rem 1.25rem;
		// text-shadow: 0 0 10px #c71123;
		@media screen and (max-width: 400px) {
			font-size: 1rem;
			line-height: 1rem;
			padding: .75rem 1rem;
		}
	}
}
#feralhog {
	top: 55px;
	left: 1px;
	@media screen and (max-width: 480px) {
		left: 26px;
	}
}


//
//
// old global
//
//

.no_break {
	white-space: nowrap;
}

// .list--dupe_ids {
// 	font-family: geneva, monospace;
// 	font-weight: bold;
// 	color: #f00;
// }
// .list--check_ids {
// 	font-family: geneva, monospace;
// }


::selection {
	@include random-select-color();
	color: #fff;
	text-shadow: none;
}
/* totally rainbow! Worth every kb... */
div::selection{ @include random-select-color(); }
object::selection{ @include random-select-color(); }
iframe::selection{ @include random-select-color(); }
h1::selection{ @include random-select-color(); }
h2::selection{ @include random-select-color(); }
h3::selection{ @include random-select-color(); }
h4::selection{ @include random-select-color(); }
h5::selection{ @include random-select-color(); }
h6::selection{ @include random-select-color(); }
p::selection{ @include random-select-color(); }
blockquote::selection{ @include random-select-color(); }
pre::selection{ @include random-select-color(); }
abbr::selection{ @include random-select-color(); }
address::selection{ @include random-select-color(); }
cite::selection{ @include random-select-color(); }
code::selection{ @include random-select-color(); }
del::selection{ @include random-select-color(); }
dfn::selection{ @include random-select-color(); }
em::selection{ @include random-select-color(); }
img::selection{ @include random-select-color(); }
ins::selection{ @include random-select-color(); }
kbd::selection{ @include random-select-color(); }
q::selection{ @include random-select-color(); }
samp::selection{ @include random-select-color(); }
small::selection{ @include random-select-color(); }
strong::selection{ @include random-select-color(); }
sub::selection{ @include random-select-color(); }
sup::selection{ @include random-select-color(); }
var::selection{ @include random-select-color(); }
b::selection{ @include random-select-color(); }
i::selection{ @include random-select-color(); }
dl::selection{ @include random-select-color(); }
dt::selection{ @include random-select-color(); }
dd::selection{ @include random-select-color(); }
ol::selection{ @include random-select-color(); }
ul::selection{ @include random-select-color(); }
li::selection{ @include random-select-color(); }
fieldset::selection{ @include random-select-color(); }
form::selection{ @include random-select-color(); }
label::selection{ @include random-select-color(); }
legend::selection{ @include random-select-color(); }
table::selection{ @include random-select-color(); }
caption::selection{ @include random-select-color(); }
tbody::selection{ @include random-select-color(); }
tfoot::selection{ @include random-select-color(); }
thead::selection{ @include random-select-color(); }
tr::selection{ @include random-select-color(); }
th::selection{ @include random-select-color(); }
td::selection{ @include random-select-color(); }
article::selection{ @include random-select-color(); }
aside::selection{ @include random-select-color(); }
canvas::selection{ @include random-select-color(); }
details::selection{ @include random-select-color(); }
figcaption::selection{ @include random-select-color(); }
figure::selection{ @include random-select-color(); }
footer::selection{ @include random-select-color(); }
header::selection{ @include random-select-color(); }
hgroup::selection{ @include random-select-color(); }
menu::selection{ @include random-select-color(); }
nav::selection{ @include random-select-color(); }
section::selection{ @include random-select-color(); }
summary::selection{ @include random-select-color(); }
time::selection{ @include random-select-color(); }
mark::selection{ @include random-select-color(); }
audio::selection{ @include random-select-color(); }
video::selection{ @include random-select-color(); }
span::selection{ @include random-select-color(); }
