.body--home {
	height: 100vh;
	width: 100vw;

	.home_color {
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transition: opacity 90s;
	}

	#groundhog {
		display: none;
	}
	.hog {
		top:calc(45vh - 10px);
		left:calc(40vw - 10px);
		padding: 0px;
		box-shadow: rgba(255,255,255,0) 0 0 40px 2px, rgba(255,255,255,0) 0 0 20px 2px inset;
		transition: top 1s, left 1s, box-shadow 1s, padding 1s;
		color: transparent;
		text-align: center;
		font-size: 1rem;
		line-height: 1.35rem;
		font-weight: bold;
		pointer-events: none;
		@media screen and (min-width: 840px) {
			font-size:  1.5rem;
			line-height: 1.95rem;
		}
	}
	a#warthog {
		color: #fff;
		text-shadow: 0 0 30px #00f, 0 0 50px #0f0, 0 0 70px #f00;
		display: block;
		background-color: transparent;
		text-decoration: none;
		pointer-events: all;

		&:hover {
			background-color: #fff;
			color: #000;
			text-shadow: none;
		}
	}
}
