//
// Single Image Viewer Page
//
.image_viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	// mobile vh helper: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/;
	height: 100vh; // Fallback for browsers that do not support Custom Properties
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	text-align: center;

	// .stars {
	// 	font-size: .75rem;
	// 	color: #000;
	// 	.images--shadows  & {
	// 		color: #fff;
	// 	}
	// }
}
.viewer--image {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100vw;
	// mobile vh helper: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/;
	height: calc(100vh - 60px); // Fallback for browsers that do not support Custom Properties
	height: calc((var(--vh, 1vh) * 100) - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	img {
		position: relative;
	// mobile vh helper: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/;
		max-height: calc(100vh - 60px); // Fallback for browsers that do not support Custom Properties
		max-height: calc((var(--vh, 1vh) * 100) - 60px);
		max-width: 100vw;
		object-fit: scale-down;
		transition: opacity 1s;
	}
	figcaption {
		position: absolute;
		bottom: -25px;
		left: 0;
		width: 100vw;
		font-size: 1rem;
	}
}
.viewer--prev,
.viewer--next {
	position: absolute;
	top: 3px;
	width: 72px;
	line-height: 1rem;
	.nav--prev,
	.nav--next {
		display: inline-block;
		color: $color-base-text;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.75rem;
		margin-top: 0.25rem;
	}
	a {
		display: inline-block;
		color: $color-base-text;
		figure {
			position: absolute;
			top: 0;
			left: 0;
			width: 72px;
			margin-bottom: 0;
		}
		img {
			transition: opacity 1s;
		}
		figcaption {
			width: 72px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:hover,
		&:focus {
			figcaption {
				text-decoration: underline;
			}
		}
	}
	@media screen and (max-width: 480px) {
		width: 50px;
		a {
			figure {
				width: 50px;
			}
			figcaption {
				width: 50px;
			}
		}
	}
}
.viewer--prev {
	left: 3px;
}
.viewer--next {
	right: 3px;
}
