.body--projects {
	background: rgb(random(100)+155, random(100)+155, random(100)+155);
	background: radial-gradient(circle, rgb(random(100)+155, random(100)+155, random(100)+155) 0%, rgb(random(100)+155, random(100)+155, random(100)+155) 100%);
	min-height: 100vh;

	h2 {
		text-align: center;
		margin-top: 1rem;
	}
	table + h2 {
		margin-top: 2rem;
	}

	.table--projects {
		td {
			border: $border-dark;
		}
		thead th {
			border-bottom: $border-dark;
		}
		@media only screen and (max-width: 720px) {
			margin-top: 1rem;
			@include table--mobile;
		}
	}

	.series_info {
		min-height: 100vh;
	}

	.punchlist {
		text-align: center;
		opacity: .1;
		margin-top: 5rem;
	}
}
