.body--projects {
	background: rgb(random(150)+105, random(150)+105, random(150)+105);
	background: radial-gradient(circle, rgb(random(150)+105, random(150)+105, random(150)+105) 0%, rgb(random(150)+105, random(150)+105, random(150)+105) 100%);
	// force scrollbars for svg connections
	min-height: 101vh;
	line-height: 0;

	table {
		line-height: 1.375;
	}

	.babeckett {
		text-align: center;
		margin-top: 1rem;
	}
	table + .babeckett  {
		margin-top: 2rem;
	}
	.tables--to_do {
		td {
			background: rgba(255,255,255,0);
			&.td--empty {
				background: transparent;
			}
		}
		> h2 {
			margin-bottom: 2rem;
		}
	}

	.table--projects {
		margin-bottom: 0;
		&:not(:first-of-type) {
			td {
				border-top: 0;
			}
		}

		td {
			border: $border-dark;
		}
		thead th {
			border-bottom: $border-dark;
		}
		@media only screen and (max-width: 720px) {
			margin-top: 1rem;
			@include table--mobile;
		}

	}
	.series_info {
	}

	.punchlist {
		text-align: center;
		opacity: .1;
		margin-top: 5rem;
		@media only screen and (min-width: 721px) {
			width: 710px; // because of scrollbar, this is safe?
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.body--projects--lines {
		.table--projects {
			&:not(:first-of-type) {
				td {
					border-top: $border-dark;
				}
			}
		}
		@media only screen and (max-width: 720px) {
			.table--projects:not(:first-of-type) {
				td {
					border-top: $border-default;
					border-color: rgba(0,0,0,.15);
					&:first-of-type {
						border-top: 0;
					}
				}
			}
		}
	}

	&.body--projects--fills {
		.table--projects {
			td {
				border: 0;
				padding: 1.25rem .375rem 1.375rem;
			}
			thead th {
				border: 0;
			}
			a {
				color: #000;
				padding-bottom: 1px;
				border-bottom: 1px solid #000;
				&:hover {
					color: #c71123;
					border-bottom: 0;
					text-decoration: none;
				}
			}
			h1 a {
				padding-bottom: 0;
			}
		}

		td.td--project_title:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		td.td--project_subpages:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		td.td--project_description:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		td.td--project_date:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		td.td--project_status:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		td.td--project_notes:not(.td--empty) {
			background: rgba(255,255,255, random()*.75+.25);
		}
		tr:hover {
			td:not(.td--empty) {
				background: #000 !important;
				color: #fff;
				a {
					color: #fff;
					border-bottom: 1px solid #fff;
					&:hover {
						color: #c71123;
						border-bottom: 0;
					}
				}
			}
		}
	}
}
