.table--series_info,
.table--prj_info {
	min-width: 100%;
	margin: 1rem 0;
	font-size: .75rem;

	td {
		background: #fff;
		padding: .33rem .5rem;
		border: 1px solid #ddd;
		text-align: left;
		vertical-align: top;
		// transition: padding .25s;
		&.td--prj_title {
			padding: 0; // for anchor inside
		}
	}
	.td--series_hidden,
	.td--prj_hidden {
		background-color: #c71123;
		color: #ffffff;
	}

	th {
		padding: .33rem .5rem;
		text-align: left;
		vertical-align: top;
		font-weight: bold;
	}

	ul {
		padding-left: 1rem;
	}
	td.td--prj_id {
		font-family: Geneva, monospace;
		font-size: .675rem;
	}
	.td--empty {
		background: transparent;
	}
}
.table--series_info {
	margin-top: 0;
	font-size: .875rem;
}


// probably can hide all slugs eventually (php?)
.td--series_slug,
.td--prj_slug {
	// display: none;
}
tr:hover {
	td {
		background: #efd;
	}
	.table--prj_info tbody & {
		td {
			padding: 1rem .5rem;
			&.td--prj_title {
				padding: 0;
			}
		}
	}
}
.td--prj_date,
.td--prj_dimensions {
	white-space: nowrap;
}
.td--prj_title {
	a {
		display: block;
		padding: .33rem .5rem;
		// transition: padding .25s;
		background: #ffffff;
		&:hover {
			background: #f8e0e3;
		}
	}
	tr:hover & {
		position: relative;
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1rem .5rem;
		}
	}
}

.body--boxbots {
	.td--series_subtitle,
	.td--series_slug,
	.td--prj_slug,
	.td--prj_subtitle,
	.td--prj_duration,
	.td--prj_description {
		display: none;
	}
	@media screen and (max-width: 1080px) {
		.td--prj_status {
			display: none;
		}
	}
	@media screen and (max-width: 960px) {
		.td--series_to_dos,
		.td--prj_location,
		.td--prj_notes {
			display: none;
		}
	}
	@media screen and (max-width: 720px) {
		.td--prj_id {
			display: none;
		}
	}
	@media screen and (max-width: 620px) {
		.td--prj_rating {
			display: none;
		}
	}
	@media screen and (max-width: 540px) {
		.td--series_date,
		.td--series_status,
		.td--prj_medium {
			display: none;
		}
		.td--series_title {
			h1 {
				font-size: 1rem;
			}
		}
	}
	@media screen and (max-width: 420px) {
		.td--series_notes,
		.td--prj_dimensions {
			display: none;
		}
	}
}
.body--dirty_mousepads {
	.td--series_subtitle,
	.td--series_slug,
	.td--prj_slug,
	.td--prj_subtitle,
	.td--prj_duration,
	.td--prj_description {
		display: none;
	}
}
.body--dots_dots_dots {
	.td--series_slug,
	.td--prj_slug,
	.td--prj_title,
	.td--prj_duration,
	.td--prj_description {
		display: none;
	}
}
.body--sd_to_hd {
}
