.series_info,
.prj_info {
	padding: $site-padding;
}
.body--series {
	.series_info {
		padding-top: .5rem;

	}
}

.table--projects,
.table--series_info,
.table--series_pages,
.table--prj_info,
.table--faqs {
	min-width: 100%;
	margin: 1rem 0;
	font-size: .75rem;

	td {
		background: #fff;
		padding: .3125rem .5rem .375rem;
		border: $border-default;
		text-align: left;
		vertical-align: top;
		// transition: padding .25s;
	}
	.td--project_hidden,
	.td--series_hidden,
	.td--prj_hidden {
		background-color: #c71123;
		color: #ffffff;
	}

	th {
		padding: .3125rem .5rem .375rem;
		border: 1px solid transparent;
		text-align: left;
		vertical-align: top;
		font-weight: bold;
	}
	thead th {
		border-bottom: $border-default;
	}

	ul {
		padding-left: 1rem;
	}
	td.td--prj_id {
		font-family: Geneva, monospace;
		font-size: .675rem;
	}
	.td--empty {
		background: transparent;
	}

	h1 {
		font-size: 1.375rem;
		margin-bottom: 0;
	}
	h2 {
		font-size: 1.125rem;
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 0;
		+ul {
			margin-top: 1rem;
		}
	}
	li {
		margin-bottom: 0;
		+li {
			margin-top: .5rem;
		}
	}
	p {
		margin-bottom: 0;
		+p {
			margin-top: 1rem;
		}
	}
}
.table--projects,
.table--series_info,
.table--series_pages {
	margin-top: 0;
	font-size: .875rem;
}
.td--series_home {
	font-weight: bold;
}

// probably can hide all slugs eventually (php?)
.td--series_slug,
.td--prj_slug {
	// display: none;
}
tr:hover {
	td:not(.td--empty) {
		background: #efd;
	}
	.table--prj_info tbody & {
		td {
			padding: 1rem .5rem;
		}
	}
}
.td--prj_date,
.td--prj_dimensions {
	white-space: nowrap;
}

.table--this_page {
	font-size: 1rem;
}
.table--series_info + .table--series_pages {
	margin-top: -1rem;
}

.table--series_info {
	td {
		border: $border-dark;
	}
	thead th {
		border-bottom: $border-dark;
	}
}


@mixin table--mobile {
	// margin-top: 0;

	thead, tbody, th, tr, td {
		display: block;
	}
	thead,
	tfoot {
		// html5 boilerplate visually hidden
		border: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap; /* 1 */
	}
	tr {
		border: $border-dark;
		// border-bottom: 0;
		+tr {
			margin-top: .5rem;
		}
	}
	td {
		border: none;
		border-top: $border-default;
		position: relative;
		padding-left: 7rem;
		min-height: 1.675em;
		&:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: .3125rem;
			left: .5rem;
			width: 6.5rem;
			// font-weight: bold;
			color: $color-text-label;
			content: attr(data-label);
		}
		&:first-of-type {
			border-top: 0;
		}
		&.td--empty {
			display: none;
		}
	}
	&.table--prj_info tbody {
		tr:hover {
			td {
				padding: .3125rem .5rem .375rem 7rem;
			}
		}
	}
}

#popup {
	opacity: .1;
	position: fixed;
	bottom: -100px; left: -200px;
	padding: 0;
	pointer-events: none;
	background: transparent;
	color: #fff;
	max-width: 50%;
	line-height: 0;
	// filter: drop-shadow(2px 2px 1px #fff)
	// 	drop-shadow(-2px 2px 1px #fff)
	// 	drop-shadow(2px -2px 1px #fff)
	// 	drop-shadow(-2px -2px 1px #fff);
	// img {
	// 	max-height: 205px;
	// 	width: auto;
	// }
	.img--under {
		position: relative;
		top: 0;
		left: 0;
		opacity: 1;
	}
	.img--over {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
	}
}

