.series_info,
.prj_info {
	padding: $site-padding;
}
.body--series {
	.series_info {
		padding-top: .5rem;
	}
}

.table--projects,
.table--series_info,
.table--prj_info {
	min-width: 100%;
	margin: 1rem 0;
	font-size: .75rem;

	td {
		background: #fff;
		padding: .33rem .5rem;
		border: 1px solid #ddd;
		text-align: left;
		vertical-align: top;
		// transition: padding .25s;
		&.td--prj_title {
			padding: 0; // for anchor inside
		}
	}
	.td--project_hidden,
	.td--series_hidden,
	.td--prj_hidden {
		background-color: #c71123;
		color: #ffffff;
	}

	th {
		padding: .33rem .5rem;
		text-align: left;
		vertical-align: top;
		font-weight: bold;
	}

	ul {
		padding-left: 1rem;
	}
	td.td--prj_id {
		font-family: Geneva, monospace;
		font-size: .675rem;
	}
	.td--empty {
		background: transparent;
	}
}
.table--projects,
.table--series_info {
	margin-top: 0;
	font-size: .875rem;
	.body--projects & {
		margin-bottom: 0;
		&:not(:first-of-type) {
			td {
				border-top: 0;
			}
		}
	}
}


// probably can hide all slugs eventually (php?)
.td--series_slug,
.td--prj_slug {
	// display: none;
}
tr:hover {
	td {
		background: #efd;
	}
	.table--prj_info tbody & {
		td {
			padding: 1rem .5rem;
			&.td--prj_title {
				padding: 0;
			}
		}
	}
}
.td--prj_date,
.td--prj_dimensions {
	white-space: nowrap;
}
.td--prj_title {
	a {
		display: block;
		padding: .33rem .5rem;
		// transition: padding .25s;
		background: #ffffff;
		&:hover {
			background: #f8e0e3;
		}
	}
	tr:hover & {
		position: relative;
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1rem .5rem;
		}
	}
}

// .body--sd_to_hd {
// }

@media only screen and (max-width: 600px) {
	.table--projects {
		margin-top: 2rem;

		thead, tbody, th, td, tr {
			display: block;
		}
		thead {
			// html5 boilerplate visually hidden
			border: 0;
			clip: rect(0 0 0 0);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			white-space: nowrap; /* 1 */
		}
		tr {
			border: 1px solid #ddd;
		}
		td {
			border: none;
			border-bottom: 1px solid #ddd;
			position: relative;
			padding-left: 40%;
			&:before {
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: .33rem;
				left: .5rem;
				width: 37%;
				font-weight: bold;
			}
			&:nth-of-type(1):before { content: "Title"; }
			&:nth-of-type(2):before { content: "Description"; }
			&:nth-of-type(3):before { content: "Date"; }
			&:nth-of-type(4):before { content: "Status"; }
			&:nth-of-type(5):before { content: "Notes"; }
		}
	}
}

#popup {
	opacity: .1;
	position: fixed;
	bottom: -100px; left: -200px;
	padding: 0;
	pointer-events: none;
	background: transparent;
	color: #fff;
	max-width: 50%;
	line-height: 0;
	// filter: drop-shadow(2px 2px 1px #fff)
	// 	drop-shadow(-2px 2px 1px #fff)
	// 	drop-shadow(2px -2px 1px #fff)
	// 	drop-shadow(-2px -2px 1px #fff);
	// img {
	// 	max-height: 205px;
	// 	width: auto;
	// }
	.img--under {
		position: relative;
		top: 0;
		left: 0;
		opacity: 1;
	}
	.img--over {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
	}
}

