/*
     FILE ARCHIVED ON 1:33:40 Oct 6, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 7:57:16 Apr 6, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/* jk-keller.com styles based off of HTML5 ✰ Boilerplate : pulled 2011 June 23 */

/* @group normailze css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* jk */ body { margin: 0; font-size: 13px; line-height: 1.231; background: #e7ede6; }
/* jk */ body, button, input, select, textarea { font-family: Arial, Helvetica, sans-serif; color: #586a52; }

/* jk */::-moz-selection { background: #32cc66; color: #fff; text-shadow: none; }
/* jk */ ::selection { background: #32cc66; color: #fff; text-shadow: none; }
/* jk - totally rainbow! Worth every kb... */
div::selection{background: #fd18fe;} div::-moz-selection{background: #fd18fe;}
object::selection{background: #3dfefe;} object::-moz-selection{background: #3dfefe;}
iframe::selection{background: #1afd14;} iframe::-moz-selection{background: #1afd14;}
h1::selection{background: #fafe1e;} h1::-moz-selection{background: #fafe1e;}
h2::selection{background: #f91312;} h2::-moz-selection{background: #f91312;}
h3::selection{background: #fa9316;} h3::-moz-selection{background: #fa9316;}
h4::selection{background: #91fe17;} h4::-moz-selection{background: #91fe17;}
h5::selection{background: #27fe93;} h5::-moz-selection{background: #27fe93;}
h6::selection{background: #3892fd;} h6::-moz-selection{background: #3892fd;}
p::selection{background: #970efd;} p::-moz-selection{background: #970efd;}
blockquote::selection{background: #fa1592;} blockquote::-moz-selection{background: #fa1592;}
pre::selection{background: #424242;} pre::-moz-selection{background: #424242;}
abbr::selection{background: #d5d5d5;} abbr::-moz-selection{background: #d5d5d5;}
address::selection{background: #eaeaea;} address::-moz-selection{background: #eaeaea;}
cite::selection{background: #6a3400;} cite::-moz-selection{background: #6a3400;}
code::selection{background: #fe7bfe;} code::-moz-selection{background: #fe7bfe;}
del::selection{background: #8179fd;} del::-moz-selection{background: #8179fd;}
dfn::selection{background: #83fefe;} dfn::-moz-selection{background: #83fefe;}
em::selection{background: #7bfe7a;} em::-moz-selection{background: #7bfe7a;}
img::selection{background: #fbfe7c;} img::-moz-selection{background: #fbfe7c;}
ins::selection{background: #fa7a7a;} ins::-moz-selection{background: #fa7a7a;}
kbd::selection{background: #fbd57b;} kbd::-moz-selection{background: #fbd57b;}
q::selection{background: #d3fe7b;} q::-moz-selection{background: #d3fe7b;}
samp::selection{background: #80fed5;} samp::-moz-selection{background: #80fed5;}
small::selection{background: #82d5fe;} small::-moz-selection{background: #82d5fe;}
strong::selection{background: #d67afe;} strong::-moz-selection{background: #d67afe;}
sub::selection{background: #fc83d7;} sub::-moz-selection{background: #fc83d7;}
sup::selection{background: #8f0605;} sup::-moz-selection{background: #8f0605;}
var::selection{background: #8f920c;} var::-moz-selection{background: #8f920c;}
b::selection{background: #099106;} b::-moz-selection{background: #099106;}
i::selection{background: #1e9192;} i::-moz-selection{background: #1e9192;}
dl::selection{background: #1a0291;} dl::-moz-selection{background: #1a0291;}
dt::selection{background: #910891;} dt::-moz-selection{background: #910891;}
dd::selection{background: #d0a400;} dd::-moz-selection{background: #d0a400;}
ol::selection{background: #ff433a;} ol::-moz-selection{background: #ff433a;}
ul::selection{background: #d15dff;} ul::-moz-selection{background: #d15dff;}
li::selection{background: #a0ff96;} li::-moz-selection{background: #a0ff96;}
fieldset::selection{background: #8f0751;} fieldset::-moz-selection{background: #8f0751;}
form::selection{background: #540491;} form::-moz-selection{background: #540491;}
label::selection{background: #1b5191;} label::-moz-selection{background: #1b5191;}
legend::selection{background: #129151;} legend::-moz-selection{background: #129151;}
table::selection{background: #509108;} table::-moz-selection{background: #509108;}
caption::selection{background: #8f5107;} caption::-moz-selection{background: #8f5107;}
tbody::selection{background: #c0c0c0;} tbody::-moz-selection{background: #c0c0c0;}
tfoot::selection{background: #5e5e5e;} tfoot::-moz-selection{background: #5e5e5e;}
thead::selection{background: #a67944;} thead::-moz-selection{background: #a67944;}
tr::selection{background: #d3a9a9;} tr::-moz-selection{background: #d3a9a9;}
th::selection{background: #2fa8d4;} th::-moz-selection{background: #2fa8d4;}
td::selection{background: #47a879;} td::-moz-selection{background: #47a879;}
article::selection{background: #a844a8;} article::-moz-selection{background: #a844a8;}
aside::selection{background: #d2d517;} aside::-moz-selection{background: #d2d517;}
canvas::selection{background: #4968ff;} canvas::-moz-selection{background: #4968ff;}
details::selection{background: #647a00;} details::-moz-selection{background: #647a00;}
figcaption::selection{background: #ff8ff1;} figcaption::-moz-selection{background: #ff8ff1;}
figure::selection{background: #009c93;} figure::-moz-selection{background: #009c93;}
footer::selection{background: #ff3606;} footer::-moz-selection{background: #ff3606;}
header::selection{background: #b5ffb4;} header::-moz-selection{background: #b5ffb4;}
hgroup::selection{background: #009c1b;} hgroup::-moz-selection{background: #009c1b;}
menu::selection{background: #e219ff;} menu::-moz-selection{background: #e219ff;}
nav::selection{background: #633b00;} nav::-moz-selection{background: #633b00;}
section::selection{background: #74ff53;} section::-moz-selection{background: #74ff53;}
summary::selection{background: #048;} summary::-moz-selection{background: #048;}
time::selection{background: #19ff2c;} time::-moz-selection{background: #19ff2c;}
mark::selection{background: #ff64f2;} mark::-moz-selection{background: #ff64f2;}
audio::selection{background: #ff261b;} audio::-moz-selection{background: #ff261b;}
video::selection{background: #ae002a;} video::-moz-selection{background: #ae002a;}
span::selection{background: #3508fd;} span::-moz-selection{background: #3508fd;}

/* jk */ a { color: #2a3526; }
/* jk */ a:visited { color: #586a52; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
/* jk */ a:hover { color: #83967d; text-decoration: none; }
/* jk */ a:active { color: #2a3526; text-decoration: underline; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 3em; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) {
    overflow: hidden;
}

/* jk */ figure { margin: 0 0 1em 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
/* jk */ input:invalid, textarea:invalid { background-color: #f7d600; }

table { border-collapse: collapse; border-spacing: 0; }
/* @end normalize css */

/* @group Primary styles - Author: Jonathan Keller Keller */
/* setup for header/footer image layering */
.z1{z-index:1;} .z2{z-index:2;} .z3{z-index:3;} .z4{z-index:4;} .z5{z-index:5;} .z6{z-index:6;} .z7{z-index:7;} .z8{z-index:8;} .z9{z-index:9;} .z10{z-index:10;} .z11{z-index:11;} .z12{z-index:12;} .z13{z-index:13;} .z14{z-index:14;} .z15{z-index:15;} .z16{z-index:16;} .z17{z-index:17;} .z18{z-index:18;} .z19{z-index:19;} .z20{z-index:20;} .z21{z-index:21;} .z22{z-index:22;} .z23{z-index:23;} .z24{z-index:24;} .z25{z-index:25;} .z26{z-index:26;} .z27{z-index:27;} .z28{z-index:28;} .z29{z-index:29;} .z30{z-index:30;} .z31{z-index:31;} .z32{z-index:32;} .z33{z-index:33;} .z34{z-index:34;} .z35{z-index:35;} .z36{z-index:36;} .z37{z-index:37;} .z38{z-index:38;} .z39{z-index:39;} .z40{z-index:40;} .z41{z-index:41;} .z42{z-index:42;} .z43{z-index:43;} .z44{z-index:44;} .z45{z-index:45;} .z46{z-index:46;} .z47{z-index:47;} .z48{z-index:48;} .z49{z-index:49;} .z50{z-index:50;} .z51{z-index:51;} .z52{z-index:52;} .z53{z-index:53;} .z54{z-index:54;} .z55{z-index:55;} .z56{z-index:56;} .z57{z-index:57;} .z58{z-index:58;} .z59{z-index:59;} .z60{z-index:60;} .z61{z-index:61;} .z62{z-index:62;} .z63{z-index:63;} .z64{z-index:64;} .z65{z-index:65;} .z66{z-index:66;} .z67{z-index:67;} .z68{z-index:68;} .z69{z-index:69;} .z70{z-index:70;} .z71{z-index:71;} .z72{z-index:72;} .z73{z-index:73;} .z74{z-index:74;} .z75{z-index:75;} .z76{z-index:76;} .z77{z-index:77;} .z78{z-index:78;} .z79{z-index:79;} .z80{z-index:80;} .z81{z-index:81;} .z82{z-index:82;} .z83{z-index:83;} .z84{z-index:84;} .z85{z-index:85;} .z86{z-index:86;} .z87{z-index:87;} .z88{z-index:88;} .z89{z-index:89;} .z90{z-index:90;} .z91{z-index:91;} .z92{z-index:92;} .z93{z-index:93;} .z94{z-index:94;} .z95{z-index:95;} .z96{z-index:96;} .z97{z-index:97;} .z98{z-index:98;} .z99{z-index:99;} .z100{z-index:100;} .z101{z-index:101;} .z102{z-index:102;} .z103{z-index:103;} .z104{z-index:104;} .z105{z-index:105;} .z106{z-index:106;} .z107{z-index:107;} .z108{z-index:108;} .z109{z-index:109;} .z110{z-index:110;} .z111{z-index:111;} .z112{z-index:112;} .z113{z-index:113;} .z114{z-index:114;} .z115{z-index:115;} .z116{z-index:116;} .z117{z-index:117;} .z118{z-index:118;} .z119{z-index:119;} .z120{z-index:120;} .z121{z-index:121;} .z122{z-index:122;} .z123{z-index:123;} .z124{z-index:124;} .z125{z-index:125;} .z126{z-index:126;} .z127{z-index:127;} .z128{z-index:128;} .z129{z-index:129;} .z130{z-index:130;} .z131{z-index:131;} .z132{z-index:132;} .z133{z-index:133;} .z134{z-index:134;} .z135{z-index:135;} .z136{z-index:136;} .z137{z-index:137;} .z138{z-index:138;} .z139{z-index:139;} .z140{z-index:140;}

hr { display: none; visibility: hidden; }
article {
  padding: 70px 0 90px;
  width: 960px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 { margin: 1.7em 0 .7em 0; }
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 17px; }
h4 { font-size: 15px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }
.nosubnav {
  padding-bottom: .3em;
  border-bottom: 2px solid #83967d;
  margin-top: .4em;
}
/* mostly used for fqs & surveys */
dl {
  margin: 0;
  padding: .6em 0;
  border-top: 1px dotted #9bb394;
}
  dl.top {
    padding: 0 0 .6em 0;
    border: 0;
  }
dt {
  width: 460px;
  float: left;
  font-family: Constantia, Georgia, "Times New Roman", Times, serif;
}
dd {
  width: 460px;
  float: right;
}
  dt li {
    margin: 0;
  }
/* end mostly used for fqs & surveys */
ul { list-style-type: circle; padding-left: 1.5em; }
li { margin: 0 0 .8em 0; }
nav li { margin: 0; }
p { margin: 1em 0; }
p.top, h1.top, h2.top, h3.top, h4.top, h5.top, h6.top {
  margin-top: 0 !important;
}
del {
  text-decoration: line-through;
  opacity: .5;
}
img { position: relative; } /* forces z-index to work */
cite { font-style: italic; }
cite.publication { font-style: normal; text-decoration: underline; }
.smiley {
  display: inline-block;
  width: 16px; height: 16px;
  background: url('http://jk-keller.com/images/smilies.png') no-repeat 0 0;
}
  .ie6 .smiley, .ie6 .smiley {
    display: block;
    float: left;
  }
  .crying { background-position: 0 -16px; }
  .rolling-eyes { background-position: 0 -32px; }

.lefty { float: left; }
.righty { float: right; }
.centered { margin-left: auto; margin-right: auto;}
figure p { margin: 0; }
.meta, .caption, figcaption {
  font-size: 11px; 
  color: #999;
  margin: .5em 0 1em;
  padding: 0;
}
figcaption a {
  text-decoration: none;
}
figcaption a:hover {
  text-decoration: underline;
}
figcaption a:active {
  text-decoration: none;
}
.wide {
  overflow-x: scroll;
}



#index article {
  width: 100%;
  margin: 0;
  padding: 0 0 90px;
}

.work-thumb {
  overflow: hidden;
  float:left; display: inline;
  margin: 0 20px 10px 0;
}
#latest {
  background: #c7dcc2;
  width: 100%;
  padding: 70px 0 10px;
}
#latest h2 {
  margin-top: 0;
}
#latest .news {
  font-size: 15px;
  margin-top: 2em;
}
#latest .news a {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px #fff solid;
}
#latest .news a:hover {
  border-bottom: 2px #83967d solid;
}
#latest .news a:active {
  text-decoration: none;
  border-bottom: 2px #2a3526 solid;
}
.arrow {
  font-size: 21px;
  color: #fff;
}
#updated {
  background: #dce5da;
  width: 100%;
  padding-top: 1.7em;
}
#testbg #updated {
  background: transparent url('http://jk-keller.com/images/bg-fill-in-01.jpg') repeat 50px 12px;
  width: 100%;
  padding: 70px 0 10px;
}
#updated h2 {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
/*
  background: #000;
  padding: 4px;
*/
}
#updated figure:hover {
/*   background: #fff; */
}
#updated figcaption {
  width: 225px;
/*
  background: #000;
  padding: 4px;
*/
}
.indexrow {
  width: 960px;
  margin: 0 auto 10px;
}
#archives {
  width: 960px;
  margin: 0 auto 30px;
}

#archives ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding-left: 0;
}
#archives li {
  margin: 0 10px 20px 0;
}
#archives h4 {
  margin-top: 0;
}
.thumb-cap {
  margin: 0;
  padding: 0 3px 0 0;
}
.thumb-cap, .with-keetra {
  display: block;
  clear: both;
  font-size: .85em;
}




/* @group Header ------------------------------------------------------------------- */
#toggleheaderfooter {
  position: fixed;
  top: 0; right: 0;
  z-index: 300;
  background: #444;
  padding: 5px 8px;
  font-size: 11px;
}
#toggleheaderfooter a, #toggleheaderfooter a:visited { color: #fff; }
#toggleheaderfooter a:hover { color: #999; text-decoration: none; }
#toggleheaderfooter a:active { color: #fff; }
#hugemonitor {
  position: absolute;
  top: 0; left: 1800px;
  z-index: 129;
  background: #ffdfcb;
  width: 75px;
  padding: 10px 8px 5px;
  font-size: 11px;
  text-align: center;
     -moz-border-radius: 4px; /* FF1+ */
  -webkit-border-radius: 4px; /* Saf3-4 */
          border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
}
header, .headerlines, header nav {
/*   height: 58px; width: 100%; */
}
/* header { position: fixed; } */
.hlw, .hlb {
  position: fixed;
  height: 15px; width: 100%;
  background: transparent url('../_img/bg-notches.png') repeat-x 0 0;
}
  .headerlines .z140 { top:-10px; background-position:-1px 0; }
  .headerlines .z130 { top:-6px; background-position:-2px -17px; }
  .headerlines .z120 { top:-2px; background-position:-3px 0; }
  .headerlines .z110 { top:2px; background-position:-4px -17px; }
  .headerlines .z100 { top:6px; background-position:-5px 0; }
  .headerlines .z90 { top:10px; background-position:-6px -17px; }
  .headerlines .z80 { top:14px; background-position:-7px 0; }
  .headerlines .z70 { top:18px; background-position:-8px -17px; }
  .headerlines .z60 { top:22px; background-position:-9px 0; }
  .headerlines .z50 { top:26px; background-position:-10px -17px; }
  .headerlines .z40 { top:30px; background-position:-1px 0; }
  .headerlines .z30 { top:34px; background-position:-2px -17px; }
  .headerlines .z20 { top:38px; background-position:-3px 0; }
  .headerlines .z10 { top:42px; background-position:-4px -17px; }
header li, header #social {
  position: fixed;
  padding: 10px 8px 5px;
  font-size: 14px;
     -moz-border-radius: 4px; /* FF1+ */
  -webkit-border-radius: 4px; /* Saf3-4 */
          border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
}
  #hjk {
    left: 10px; top: -2px;
    background: #f53257;
    font-weight: bold;
    font-size: 18px;
  }
  header nav #habout {
    left: 25%; top: 18px;
    background: #d6fb84;
  }
  header nav #hshop {
    left: 35%; top: 5px;
    background: #d6fb84;
  }
  header nav #hktoj {
    left: 55%; top: 44px;
    background: #d6fb84;
  }
  header nav #hlist {
    right: 45%; top: 14px;
    background: #d6fb84;
  }
  header nav #hc71123 {
    left: 40%; top: 26px;
    background: #93fb9d;
  }
  header #social {
    right: 10px; top: 22px;
/*     width: 350px; */
    background: #DCE5DA;
    text-align: center;
    padding: 10px 5px 5px;
  font-size: 11px;
  }
  header #social p {
    margin: 4px 0 0 0;
    font-size: 10px;
    color: #999;
  }
  header #social ul {
    margin: 0;
    padding: 0;
  }
  header #social:hover ul {
/*     opacity: 1; */
  }
  header #social #flike, header #social #ftweet, header #social #fplus1 {
    display: block;
    position: relative;
    padding: 0;
    width: 100px; height:20px;
    line-height: 10px;
    margin: 0;
    list-style: none;
    float: left;
  }
    header nav li a, header nav li a:visited { color: #444; text-decoration: none; }
    header nav li a:hover { color: #fff; text-decoration: underline; }
    header nav li a:active { color: #444; }
    header nav #hjk a, header nav #hjk a:visited { color: #fff; text-decoration: none; }
    header nav #hjk a:hover { color: #444; text-decoration: underline; }
    header nav #hjk a:active { color: #fff; }
/* @end */
/* @group Footer ----------------------------------------------------------------- */
footer, .footerlines, footer nav {
/*   height: 58px; width: 100%; */
}
/* footer { position: fixed; } */
.flw, .flb {
  position: fixed;
  height: 15px; width: 100%;
  background: transparent url('../_img/bg-notches.png') repeat-x 0 -30px;
}
  .footerlines .z140 { bottom:-10px; background-position:-1px -34px; }
  .footerlines .z130 { bottom:-6px; background-position:-2px -51px; }
  .footerlines .z120 { bottom:-2px; background-position:-3px -34px; }
  .footerlines .z110 { bottom:2px; background-position:-4px -51px; }
  .footerlines .z100 { bottom:6px; background-position:-5px -34px; }
  .footerlines .z90 { bottom:10px; background-position:-6px -51px; }
  .footerlines .z80 { bottom:14px; background-position:-7px -34px; }
  .footerlines .z70 { bottom:18px; background-position:-8px -51px; }
  .footerlines .z60 { bottom:22px; background-position:-9px -34px; }
  .footerlines .z50 { bottom:26px; background-position:-10px -51px; }
  .footerlines .z40 { bottom:30px; background-position:-1px -34px; }
  .footerlines .z30 { bottom:34px; background-position:-2px -51px; }
  .footerlines .z20 { bottom:38px; background-position:-3px -34px; }
  .footerlines .z10 { bottom:42px; background-position:-4px -51px; }
footer li {
  position: fixed;
     -moz-border-radius: 3px; /* FF1+ */
  -webkit-border-radius: 3px; /* Saf3-4 */
          border-radius: 3px; /* Opera 10.5, IE 9, Saf5, Chrome */
  font-size: 11px;
  margin: 0;
  padding: 5px 8px 10px;
  color: #333;
}
  footer nav #fgplus {
    right: 71%; bottom: 11px;
    background: #2c2c2c;
  }
  footer nav #ffacebook {
    right: 60%; bottom: 39px;
    background: #3b5998;
  }
  footer nav #ftwitter {
    right: 50%; bottom: -1px;
    background: #29c;
  }
  footer nav #fflickr {
    right: 80%; bottom: 31px;
    background: #ff0084;
  }
  footer nav #fvimeo {
    right: 87%; bottom: 3px;
    background: #0daed7;
  }
  footer nav #fyoutube {
    right: 42%; bottom: 19px;
    background: #f11;
  }
  footer nav #fcopyright {
    right: 17%; bottom: 7px;
    background: #000;
  }
  footer nav #femail {
    right: 20px; bottom: 11px;
    background: #00d179;
  }
  footer nav #fkeetra {
    right: 5px; bottom: 47px;
    background: #f34d59;
  }
  footer nav li a, footer nav li a:visited { color: #fff; text-decoration: none; }
  footer nav li a:hover { color: #444; text-decoration: underline; }
  footer nav li a:active { color: #fff; }
/* @end */

#index {
  background: url('../_img/jk_keller-resynth-bg-1.jpg') repeat 0px 100px;
  padding-top: 100px;
  min-height: 3000px;
}
.connect-wrap {
  text-align: center;
  max-width: 1078px;
}
#connect {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#index figure {
  position: absolute;
}
#index figure:hover figcaption a {
  color: #fff;
  background: #000;
}

#r01 { top: 200px; left:   100px; }
#r02 { top: 200px; left:   425px; }
#r03 { top: 200px; left:   750px; }
#r04 { top: 450px; left:   100px; }
#r05 { top: 450px; left:   425px; }
#r06 { top: 450px; left:   750px; }
#r07 { top: 775px; left:   100px; }
#r08 { top: 775px; left:   425px; }
#r09 { top: 775px; left:   750px; }
#r10 { top: 1061px; left:   100px; }
#r11 { top: 1061px; left:   425px; }
#r12 { top: 1061px; left:   750px; }
#r13 { top: 1377px; left:   100px; }
#r14 { top: 1377px; left:   425px; }
#r15 { top: 1377px; left:   750px; }
#r16 { top: 1764px; left:   100px; }
#r17 { top: 1764px; left:   425px; }
#r18 { top: 1764px; left:   750px; }
#r19 { top: 2039px; left:   100px; }
#r20 { top: 2039px; left:   425px; }

#r21 { top: 2464px; left:   100px; }
#r22 { top: 2464px; left:   345px; }
#r23 { top: 2464px; left:   534px; }
#r24 { top: 2464px; left:   662px; }
#r25 { top: 2464px; left:   859px; }


/* @end Primary styles */


/* Non-semantic helper classes */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Media Queries */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}

/* Print styles */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}