/* Author: JK Keller, Dilettante Coder
	 adapted from html5 boilerplate */

/* @group Normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #0fd7af; color: #fff; text-shadow: none; }
::selection { background: #0fd7af; color: #fff; text-shadow: none; }

a {
	color: #aaa;
	text-decoration: none;
}
a:visited { color: #666; }
a:hover { color: #d3ff21; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/* @end */

/* @group Primary Styles ------------------------------------------------------------ */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #e3e3e3;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}
#bg_scroller {
	position: absolute;
	top:0;
	left:0; right:0;
	height: 10000px;
}
#bg_wrapper, #social_wrapper {
	pointer-events: none;
	position: fixed;
	top:0; bottom:0;
	left:0; right:0;
	overflow: hidden;
	-webkit-transition: top 0.4s ease, bottom 0.4s ease;
	-moz-transition:    top 0.4s ease, bottom 0.4s ease;
	-ms-transition:     top 0.4s ease, bottom 0.4s ease;
	-o-transition:      top 0.4s ease, bottom 0.4s ease;
}
#social_wrapper {
	z-index: 4050;
}
#bg_wrapper *, #social_wrapper * {
	pointer-events: auto;
}
#prj_wrapper {
	pointer-events: none;
	position: fixed;
	top:15px; bottom:185px;
	left:15px; right:215px;
	-webkit-transition: top 0.4s ease, bottom 0.4s ease;
	-moz-transition:    top 0.4s ease, bottom 0.4s ease;
	-ms-transition:     top 0.4s ease, bottom 0.4s ease;
	-o-transition:      top 0.4s ease, bottom 0.4s ease;
}
#prj_wrapper .project,
#prj_wrapper figure {
	pointer-events: auto;
	position: absolute;
	-webkit-transition: top 0.4s ease, left 0.4s ease;
	-moz-transition:    top 0.4s ease, left 0.4s ease;
	-ms-transition:     top 0.4s ease, left 0.4s ease;
	-o-transition:      top 0.4s ease, left 0.4s ease;
	width: 200px;
}

#bg_wrapper div, #bg_wrapper figure, #bg_wrapper a,
#social_wrapper div, #social_wrapper figure, #social_wrapper a,
.project img {
	position: absolute;
}
#bg_wrapper figure a,
#social_wrapper figure a {
	position: relative;
}

img:hover {
	background-color: #fff;
	z-index:100;
	box-shadow:         0 0 0 5px #fff,
											0 0 0 20px rgba(211,211,211,.8);
	-webkit-box-shadow: 0 0 0 5px #fff,
											0 0 0 20px rgba(211,211,211,.8);
	-moz-box-shadow:    0 0 0 5px #fff,
											0 0 0 20px rgba(211,211,211,.8);
}
a img:hover {
	box-shadow:         0 0 0 5px #fff,
											0 0 0 25px rgba(211,255,33,.8);
	-webkit-box-shadow: 0 0 0 5px #fff,
											0 0 0 25px rgba(211,255,33,.8);
	-moz-box-shadow:    0 0 0 5px #fff,
											0 0 0 25px rgba(211,255,33,.8);
}
a:hover {
	z-index: 5000;
	border-bottom: 5px solid #fff;
	box-shadow:         0 5px 0 rgba(211,255,33,.8);
	-webkit-box-shadow: 0 5px 0 rgba(211,255,33,.8);
	-moz-box-shadow:    0 5px 0 rgba(211,255,33,.8);
}
figcaption {
	pointer-events: none;
	z-index: 4000;
	position: fixed;
	top: 25%; left: 15%;
	width: 70%;
	visibility: hidden;
	color: #fff;
	border-bottom: 10px solid rgba(211,255,33,.8);
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	word-wrap: break-word;
	text-transform: uppercase;
	text-align: center;
}
figure:hover figcaption {
	visibility: visible;
}
#bg_wrapper #bg_name {
	position: fixed;
	top:1%; right:52%;
	width: 18%;
	min-width: 100px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 26px;
	word-wrap: break-word;
	color: #000;
}
#bg_email,
#bg_about,
#bg_oil,
#bg_2014,
#bg_shop,
#bg_ktoj,
#bg_tumblr,
#bg_newsletter,
#bg_cc,
#bg_looooonging a,
#bg_keetra {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 17px;
	color: #000;
}
#bg_email {
	top:12%; left:35%;
	text-transform: lowercase;
}
#bg_about {
	top:20%; left:90%;
}
#bg_grid {
	display: block;
	box-sizing: content-box;
	background: url('../images/grid.png') 0 0 no-repeat;
	width:4px; height:16px;
	top:2%; right:2%;
/*   overflow: hidden; */
}
#bg_2014 {
	top:3%; left:60%;
}
#bg_oil {
	top:10%; right:20%;
}
#bg_shop {
	bottom:10%; left:3%;
	text-align: center;
}
#bg_ktoj {
	bottom:60%; right:15%;
	text-align: center;
}
#bg_tumblr {
	bottom:60%; left:86%;
	text-align: center;
	transform:         rotate(180deg);
	-ms-transform:     rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform:      rotate(180deg);
	-moz-transform:    rotate(180deg);
}
#bg_shop:hover {
	border-bottom: 0;
	border-right: 5px solid #fff;
	box-shadow:         5px 0 0 rgba(211,255,33,.8);
	-webkit-box-shadow: 5px 0 0 rgba(211,255,33,.8);
	-moz-box-shadow:    5px 0 0 rgba(211,255,33,.8);
}
#bg_grid:hover,
#bg_ktoj:hover,
#bg_tumblr:hover {
	border-bottom: 0;
	border-left: 5px solid #fff;
	box-shadow:         -5px 0 0 rgba(211,255,33,.8);
	-webkit-box-shadow: -5px 0 0 rgba(211,255,33,.8);
	-moz-box-shadow:    -5px 0 0 rgba(211,255,33,.8);
}
#bg_tumblr:hover {

}
#bg_newsletter {
	top:54%; left:6%;
}
#bg_cc {
	bottom:2%; right:22%;
}
#bg_looooonging {
	bottom:1.5%; left:6%;
}
#bg_looooonging span {
	text-transform: none;
}
#bg_keetra {
	bottom:8%; right:30%;
/*   z-index: 3000; */
	transform:         rotate(-35deg);
	-ms-transform:     rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-o-transform:      rotate(-35deg);
	-moz-transform:    rotate(-35deg);
}
#bg_keetra span {
	padding-left: 25px;
}
#bg_fb {
	bottom:50%; right:5%;
	z-index: 4100;
}
#bg_fb #fb {
	transform:         rotate(180deg);
	-ms-transform:     rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform:      rotate(180deg);
	-moz-transform:    rotate(180deg);
}
#bg_tweet {
	top:40%; left:5%;
	z-index: 4050;
}
#bg_tweet #tweet {
	transform:         rotate(35deg) scale(1.8,1.8);
	-ms-transform:     rotate(35deg) scale(1.8,1.8);
	-webkit-transform: rotate(35deg) scale(1.8,1.8);
	-o-transform:      rotate(35deg) scale(1.8,1.8);
	-moz-transform:    rotate(35deg) scale(1.8,1.8);
}
#bg_follow {
	top:10%; left:80%;
	z-index: 4055;
}
#bg_follow #follow {
	transform:         rotate(35deg);
	-ms-transform:     rotate(35deg);
	-webkit-transform: rotate(35deg);
	-o-transform:      rotate(35deg);
	-moz-transform:    rotate(35deg);
}
#bg_gplus {
	bottom:45%; right:16%;
	z-index: 4000;
}
#bg_gplus #gplus {
	transform:         rotate(35deg);
	-ms-transform:     rotate(35deg);
	-webkit-transform: rotate(35deg);
	-o-transform:      rotate(35deg);
	-moz-transform:    rotate(35deg);
}
.middleofheap {
	z-index: 2000 !important;
}
.topofpile {
	z-index: 2000 !important;
	background-color: #fff;
	box-shadow:         0 0 0 5px #fff,
											0 0 0 15px rgba(211,211,211,.7);
	-webkit-box-shadow: 0 0 0 5px #fff,
											0 0 0 15px rgba(211,211,211,.7);
	-moz-box-shadow:    0 0 0 5px #fff,
											0 0 0 15px rgba(211,211,211,.7);
}
.topofheap, .project:hover {
	z-index: 3000 !important;
}
.middleofheap figcaption {
	top: auto; bottom: 25%;
	visibility: visible;
	color: rgb(211,211,211);
	border-bottom: 10px solid #fff;
}
.middleofheap figure:hover figcaption {
	top: 25%; bottom: auto;
	color: #fff;
	border-bottom: 10px solid rgba(211,255,33,.8);
}
#archive_wrapper {
	position: absolute;
	top:3000px;
	left:0;
	-webkit-transition: top 0.4s ease, bottom 0.4s ease;
	-moz-transition:    top 0.4s ease, bottom 0.4s ease;
	-ms-transition:     top 0.4s ease, bottom 0.4s ease;
	-o-transition:      top 0.4s ease, bottom 0.4s ease;
}
#archive_wrapper .project {
	float: left;
	margin: 10px;
}

/* project pages --------------------------------------------- */
#prj_nav {
	z-index: 3700;
	position: fixed;
	width: 100%;
	top: 70px; left: 0;
}
#prj_nav a {
	pointer-events: auto;
	display: block;
	position: absolute;
	background-color: rgba(211,255,33,.8);
	color: #000;
	padding: 5px 10px;
	margin: 0 auto;
	line-height: 16px;
	border-bottom: 0;
}
#prj_nav #prev_prj {
	left: 2%; top: 26px;
	width: 11%;
	text-align: left;
}
#prj_nav #prev_subprj {
	left: 15%;
	width: 31%;
	text-align: left;
}
#prj_nav #prev_prj span,
#prj_nav #prev_subprj span {
	z-index: 3800;
	position: absolute;
	width: 600px;
	top: 320px; left: -266px;
	font-size: 56px;
	line-height: 56px;
	text-align: right;
	color: rgb(211,255,33);
	visibility: hidden;
	text-transform: uppercase;
	transform:         rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform:      rotate(-90deg);
	-moz-transform:    rotate(-90deg);
}
#prj_nav #close {
	left: 48%; top: -26px;
	width: 4%;
	text-align: center;
	padding: 5px 0;
}
#prj_nav #next_subprj {
	right: 15%;
	width: 31%;
	text-align: right;
}
#prj_nav #next_prj {
	right: 2%; top: 26px;
	width: 11%;
	text-align: right;
}
#prj_nav #next_prj span,
#prj_nav #next_subprj span {
	z-index: 3800;
	position: absolute;
	width: 600px;
	top: 320px; right: -266px;
	font-size: 56px;
	line-height: 56px;
	color: rgb(211,255,33);
	text-align: left;
	visibility: hidden;
	text-transform: uppercase;
	transform:         rotate(90deg);
	-ms-transform:     rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform:      rotate(90deg);
	-moz-transform:    rotate(90deg);
}
#prj_nav a:hover {
	background-color: #000 !important;
	color: #fff !important;
	border-bottom: 5px solid #fff;
}
#prj_nav a:hover span {
	visibility: visible !important;
}
#reopen {
	z-index: 5000;
	display: block;
	display: none;
	position: fixed;
	top: 10px;   left: 48%; width: 4%;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 5px 0;
}
article {
	z-index: 3500;
	position: relative;
	background-color: #fff;
	width: 76%;
	max-width: 760px;
	padding: 60px 20px 20px;
	margin: 70px auto;
}
article h1, article h2, article h3, article h4 {
	font-weight: normal;
	text-transform: uppercase;
/*   color: #333; */
	margin-bottom: .2em;
	line-height: 1em;
}
article h1 {
	margin-top: 0;
	font-size: 26px;
}
article h2 {
	font-size: 22px;
}
article h3 {
	font-size: 18px;
}
article h4 {
	font-size: 14px;
}
article figure {
	width: 100%;
	text-align: center;
}
article figure.half_figure {
	width: 49%;
}
article figcaption {
	color: rgb(211,211,211);
	border-bottom: 10px solid #fff;
}
article a {
	border-bottom: 3px solid #d3ff21;
}
article a figcaption {
	color: rgb(211,255,33);
}
article img {
	position: relative;
	max-width: 100%; height: auto;
}

article .video-yt {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
	height: 0;
}
article .video-siri {
	position: relative;
	padding-bottom: 66.25%; /* siri video??? */
	height: 0;
}
article .video-fans,
article .video-daily {
	position: relative;
	padding-bottom: 74.41%; /* daily video??? */
	height: 0;
}
article .video-minority {
	position: relative;
	padding-bottom: 42.76%; /* minority report */
/*   padding-top: 28px; */
	padding-bottom: 56%; /* minority report */
	height: 0;
}
article .calendar {
	position: relative;
	padding-bottom: 88.89%; /* 540 x 480 */
	height: 0;
}
article .calendar iframe,
article .video iframe {
/*   background-color: #eee; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.lefty { float: left; }
.righty { float: right; }
.smiley {
	display: inline-block;
	width: 16px; height: 16px;
	background: url('../images/smilies.png') no-repeat 0 0;
}
	.ie6 .smiley, .ie6 .smiley {
		display: block;
		float: left;
	}
	.crying { background-position: 0 -16px; }
	.rolling-eyes { background-position: 0 -32px; }
.caption {
	font-size: smaller;
	color: #666;
}

.prev_img,
.next_img,
#reload_imgs {
	display: block;
	background-color: #eee;
	color: #000;
	padding: 5px 10px;
	line-height: 16px;
	width: 48%;
	border-bottom: 5px solid rgba(211,255,33,.8);
	box-shadow:         0 5px 0 #fff;
	-webkit-box-shadow: 0 5px 0 #fff;
	-moz-box-shadow:    0 5px 0 #fff;
}
.prev_img:hover,
.next_img:hover,
#reload_imgs:hover {
	background-color: #000;
	color: #fff;
	border-bottom: 5px solid #fff;
	box-shadow:         0 5px 0 rgba(211,255,33,.8);
	-webkit-box-shadow: 0 5px 0 rgba(211,255,33,.8);
	-moz-box-shadow:    0 5px 0 rgba(211,255,33,.8);
}
.prev_img {
	float: left;
}
.next_img {
	float: right;
	text-align: right;
}
#reload_imgs {
	margin: 0 26%;
	clear: both;
	text-align: center;
}
/* mostly used for fqs & surveys */
dl {
	margin: 0;
	padding: .6em 0;
	border-bottom: 1px dotted #9bb394;
}
/*
	dl.top {
		padding: 0 0 .6em 0;
		border: 0;
	}
*/
dt {
	width: 49%;
	float: left;
	font-family: Constantia, Georgia, "Times New Roman", Times, serif;
}
dd {
	width: 49%;
	float: right;
}
	dt li {
		margin: 0;
	}
ul { list-style-type: circle; padding-left: 1.5em; }

/* end mostly used for fqs & surveys */

/* @end */

/* @group Page Specific Styles ------------------------------------------------------------ */
/* Resume - CV ------------------------------------------------------------ */
#resume-cv h1 {
	display: inline;
	margin-right: .75em;
}
#cv, #cv ul {
	list-style: none;
	padding-left: 2%;
}
#cv ul {
	margin-top: .2em;
}
#cv li {
	margin: .4em 0;
	text-indent: -2%;
}
#cv h3 {
	margin-top: 2.2em;
}
#cv ul h4 {
	color: #999;
	margin: 1.2em 0 .2em 0;
	font-size: 13px;
}
#cv ul#education h4,
#cv ul#lectures h4 {
	display: inline;
	margin: 0 1% 0 0;
}
#bibliography cite {
	font-family: Constantia, Georgia, "Times New Roman", Times, serif;
}
cite.publication { font-style: normal; text-decoration: underline; }
#twitter-widget-0, #twitter-widget-1, #twitter-widget-2, #twitter-widget-3, #twitter-widget-4, #twitter-widget-5 {
		width:100%;
}
/* Binarys Forth ------------------------------------------------------------ */
.arrow-iterations #switcher img {
	border: 10px solid #eee;
}
/* Breathing Houses ------------------------------------------------------------ */
.breathing-buildings #switcher {
	background-color: #e1eefe;
}
/* Edit Select All ------------------------------------------------------------ */
#john-3-16 article {
	min-width: 600px;
}
.no-ie {
	display: none;
}
.lt-ie9 .no-ie {
	position: absolute;
	top: 0; left: 0;
	display: block;
	padding: 20px;
	background-color: #f00;
	color: #fff;
	font-size: 30px;
}
/* Generative burst ------------------------------------------------------------ */
#burst article img {
	margin-bottom: 10px;
}
/* You trying You trying Me ----------------------------------------------------- */
.profiles-exchanged article {
	width: 90%;
	max-width: 1540px;
}
.profiles-exchanged article figure.half_figure {
	width: 48%;
}
/* Daily Photo ------------------------------------------------------------ */
#daily-photo article nav {
	margin-bottom: 10px;
}
article figure.daily_figure {
	width: 14.2857%;
}
/* Tantamountains ------------------------------------------------------------ */
.flattened-mountains article {
	width: 11420px; /* 24 * 470 = 11280 + 140px padding */
	max-width: 11420px;
	background-color: transparent;
	padding: 0 50px;
}
.flattened-mountains article section {
	width: 11320px;
/*   max-width: 90%; */
	background-color: #fff;
	padding: 60px 20px 20px;
}
.flattened-mountains article figure {
	width: 470px;
	max-width: 470px;
	float: left;
}
.flattened-mountains {
}
/* Simpsons Realigned ------------------------------------------------------------ */
.simpsons-realigned {
/*   background: #000; */
}
.simpsons-realigned article {
	background: #000;
	color: #ccc;
	width: 1000px;
	max-width: 1000px;
}
.simpsons-realigned article a { color: #ffd90f; }
.simpsons-realigned article a:hover { color: #fff; }
.simpsons-realigned article a:active { color: #c0a600; }

.simpsons-realigned .nosubnav, .simpsons-realigned .subnav {
	border-bottom: 2px solid #ffd90f;
	color: #ffd90f;
}
#simpsons-realigned #videos {
	position: relative;
	margin: 20px 0;
}
#simpsons-realigned #overlay {
	position: absolute;
	top: 0; left: 0;
	height: 723px; width: 960px;
	background: rgba(0, 0, 0, .5);
}
#simpsons-realigned #vidintro {
	position: absolute;
	top: 10px; left: 175px;
	height: 482px; width: 600px;
	border: 5px solid #ffd90f;
}
#simpsons-realigned #closeintro {
	position: absolute;
	top: 10px; left: 785px;
	height: 24px; width: 24px;
}
#simpsons-realigned #watchall {
	position: absolute;
	top: 550px; left: 320px;
	height: 64px; width: 320px;
	display: none;
}
#simpsons-realigned #watchall a {
	display: block;
	height: 64px; width: 320px;
	background: #ffd90f;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	line-height: 64px;
}
#simpsons-realigned #watchall a:hover {
	background: #000;
}
#closeintro a {
	display: block;
	height: 24px; width: 24px;
	background: #ffd90f;
}
#closeintro a:hover {
	background: #000;
}

#simpsons-realigned .vid {
	float: left;
}
#simpsons-realigned #controls {
	display: none;
}

#simpsons-realigned .feet {
	float: left;
	width: 320px;
	text-align: center;
}

#simpsons-realigned #play, #simpsons-realigned #pause {
	display: block;
	height: 97px; width: 127px;
	margin: 0 auto;
	background: #ffd90f;
}
#simpsons-realigned #play:hover, #simpsons-realigned #pause:hover {
	background: #000;
}

#simpsons-realigned #loadswap, #simpsons-realigned #volumes {
	width: 129px;
	margin: 0 auto;
}
#simpsons-realigned .swap, #simpsons-realigned .vol {
	position: relative;
	height: 31px; width: 41px;
	float: left;
	margin: 1px;
	background: #ffd90f;
}
#simpsons-realigned .swap .loadbar {
	position: absolute;
	top: 28px; left: 1px;
	height: 2px; width: 1px;
}
#simpsons-realigned .swap a, #simpsons-realigned .vol a {
	position: absolute;
	top: 0; left: 0;
	display: block;
	height: 31px; width: 41px;
}
#simpsons-realigned .swap a:hover, #simpsons-realigned .vol a:hover {
	background: #000;
}
/* Sunday Routine Interview -------------------------------------------- */
#sunday-routine article {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	line-height: 1.3em;
}
#sunday-routine h2 {
	text-transform: none;
	font-weight: bold;
	color: #000;
	margin-bottom: 1.5em;
	font-size: 18px;
}
#sunday-routine p {
	margin-top: .2em;
	margin-bottom: 1.5em;
}
#sunday-routine h3 {
	text-transform: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.3em;
	color: #000;
}
#sunday-routine img+h3,
#sunday-routine p+h3 {
	margin-top: 2em;
}
#sunday-routine .journal {
	color: #000;
}
#sunday-routine .journal .date { color: #6a2bb7; }
#sunday-routine .journal p {
	margin-top: .2em;
	margin-bottom: .2em;
}
#sunday-routine p+.journal {
	margin-top: -.6em;
}
#sunday-routine .time { color: #ac71f6; }
#sunday-routine .caption { color: #aaaaaa; font-size: 13px; }
#sunday-routine .caption-plus { color: #555; font-size: 13px; }
#sunday-routine .notes1 { font-family: 'Hiragino Kaku Gothic ProN'; font-size: 14.0px; color: #942193; }
#sunday-routine .notes2 { font-family: 'Hiragino Kaku Gothic ProN'; font-size: 14.0px; color: #f93ee6; }
#sunday-routine .milton { font-family: 'American Typewriter', Courier; font-size: 17.0px; color: #000; }
#sunday-routine .heart { color: #ff3674; }
#sunday-routine .money { color: #009f49; }
#sunday-routine .resets { color: #fa9700; }
#sunday-routine .brownsville { color: #a77b4a; }
#sunday-routine .selfdoubt { color: #aaaaaa; font-style: italic; }
#sunday-routine .sad { color: #5f9edd; font-weight: bold; }
#sunday-routine .note { color: #ac71f6; }
#sunday-routine .footnote { color: #2dd975; font-size: 14px; }
#sunday-routine .always { color: #f3296a; }
#sunday-routine .keurig1 { color: #85a137; }
#sunday-routine .keurig2 { color: #cd9b0d; }
#sunday-routine .senses { color: #0096ff; }
#sunday-routine .crema { color: #945200; }
#sunday-routine .nascar1 { color: #fad75c; }
#sunday-routine .nascar2 { color: #e73444; }
#sunday-routine .nascar3 { color: #b42592; }
#sunday-routine .nascar4 { color: #2c76c1; }
#sunday-routine .nfl { color: #c71c28; }
/* @end */

#yule_log {
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0,0,0,.9);
}
#yule_log img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 265px;
	margin-left: -200px; /* Half the width */
	margin-top: -132px; /* Half the height */
}
#yule_log div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 265px;
	margin-left: -200px; /* Half the width */
	margin-top: 80px; /* Half the height */
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #d38bb4;
}
#yule_log:hover div {
	color: #d38bb4;
}


/* @group Media Queries ------------------------------------------------------------ */
@media only screen and (min-width: 1350px) {
	article {
		pointer-events: none;
		background-color: transparent;
		width: 90%;
		max-width: 1600px;
		padding: 0;
	}
	.flattened-mountains article {
		width: 11420px;
		max-width: 11420px;
		background-color: transparent;
		padding: 0 50px;
	}
	.simpsons-realigned article {
		pointer-events: auto;
		background-color: #000;
		width: 1000px;
		max-width: 1000px;
		padding: 60px 20px 20px;
	}
	.breathing-buildings article,
	.upside-frowns article {
		pointer-events: auto;
		background-color: #fff;
		width: 760px;
		max-width: 760px;
		padding: 60px 20px 20px;
	}
	#amazing-mistake article,
	#dork-side-of-moon article,
	#john-3-16 article,
	#profiles-reversed article,
	#ignobel-award article,
	#mccain-obama article,
	#scanner-lines article,
	#generative-prints article {
		pointer-events: auto;
		background-color: #fff;
		width: 760px;
		max-width: 760px;
		padding: 60px 20px 20px;
	}
	.profiles-exchanged article {
		pointer-events: auto;
		background-color: #fff;
		padding: 60px 20px 20px;
	}
	 article section {
		pointer-events: auto;
		background-color: #fff;
		width: 48%;
		max-width: 760px;
		padding: 60px 20px 20px;
	}
	.flattened-mountains article section {
		width: 11320px;
		max-width: 11320px;
	}
	.left_section {
		float:left;
	}
	.right_section {
		float:right;
		padding: 90px 20px 20px;
	}
}
@media only screen and (max-width: 950px) {
	article { width: 80%; }
}
@media only screen and (max-width: 775px) {
	article { width: 85%; }
}
@media only screen and (max-width: 625px) {
	article { width: 89%; }
	#prj_nav #close {
		left: 47%;
		width: 6%;
	}
}
@media only screen and (max-width: 500px) {
	article { width: 92%; }
	#prj_nav #close {
		left: 46%;
		width: 8%;
	}
}
@media only screen and (max-width: 400px) {
	article { width: 94%; }
}
@media only screen and (max-width: 480px) {

}
/* @end */

/* @group Global Helpers ------------------------------------------------------------ */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* @end */

/* @group Print Styles ------------------------------------------------------------ */
@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
/* @end */
